
body {
  padding-top: 60px;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  text-align: center;
  color: #777;
}

